@font-face{
    font-family: 'ubuntuRegular';
    src: url(../fonts//Ubuntu-R.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'ubuntuRegular';
    height: 100%;
    background-color: #a1e061;
    background-image: linear-gradient(#a1e061,#e1fec5);
    color: #fff;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #E3E3E3;
}
p{
    margin:0.5rem;
}
#describe, footer{
    background: #454545;
}
.btn{
    background-color: #8bb158;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 10px;
}
/*Nav button*/
.navBtn {
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*NAV*/
#bar{
    background: #232323;
}

#container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0.9rem 0;
    margin: auto;
}
#container img{
    height: 3rem;
}

nav{
    background: #232323;
}
nav a{
    color: #E3E3E3;
}
nav ul{
    text-align: right;
}
nav ul li{
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
}
nav ul li:hover{
    background-color: #92B372;
}
/*Hero-section*/
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 5%;
    text-align: center;
}
#hero h1{
    font-size: 3rem;
}
#hero p{
    font-size: 1.5rem;
}
#hero ul{
    display: flex;
    flex-direction: row;
    margin: auto;
}
#hero ul li{
    justify-content: space-between;
    margin: 1rem;
}
/*Showcase*/
#showcase{
    margin: 2rem auto;
    width: 700px;
    margin-bottom: -300px;
}
#imageShowcase{
    position: relative;
}
#imageShowcase img{
    position: relative;
    width: 700px;
}
#innerScreen{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 658px;
    overflow: hidden;
    height: 370px;
}
#innerScreen img{
    width: 660px;
}
/*Project-description*/
#describe h2{
    padding:0.6rem;
    padding-top: 20%;
}
#describe{
    padding: 1rem;
    text-align: center;
}
#grid{
    padding-top: 1rem;
    margin: auto 3.5rem;
}
.avantages{
    background-color: #6c6c6c;
    width: 95%;
    margin: 1rem auto;
}
.avantages img{
    height: 60px;
    margin-top: 1rem;
    filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(176deg) brightness(105%) contrast(107%);
}
.description{
    padding: 1rem 0.5rem;
}
/*Feeds-blog*/
#blog-post{
    margin: auto 4.5rem;
}
#blog-post div{
    background-color: #8bb158;
    text-align: center;
    margin: 1rem;
    padding: 1.5rem;
}
#blog-post .btn{
    background-color: #8fa876;
    display: inline-block;
}
/*Footer*/
footer{
    padding: 1rem;
}
/*TABLET*/
@media(min-width: 501px){

}
/*Desktop*/
@media (min-width: 769px){
    #container{
        width: auto;
        padding: 0;
        margin: 0;
    }
    #navBtn{
        display: none;
    }
    nav{
        display:flex;
        width: 100%;
        justify-content:space-around;
    }
    nav ul {
        display: flex;
        align-content: right;
    }
    #grid,#blog-post {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .avantages img{
        margin: 0 1rem;
    }
    .avantages{
        display: flex;
        align-items: center;
        height: 8rem;
    }
}
/*WIDESCREEN*/
@media (min-width: 1201px){

}