@font-face{
    font-family: 'ubuntuRegular';
    src: url(../fonts//Ubuntu-R.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'ubuntuRegular';
    height: 100%;
    background-color: #a1e061;
    background-image: linear-gradient(#a1e061,#e1fec5);
}
ul{
    list-style-type: none;
}
#describe, footer{
    background: #454545;
}
/*Nav button*/

/*NAV*/
nav{
    background: #232323;
}
nav ul{
    text-align: right;
}
nav img{
    height: 3rem;
}
/*Hero-section*/

/*Project-description*/
#describe{
    
}
/*Feeds-blog*/
/*Footer*/
footer{
    
}